* {
    font-family: Helvetica, sans-serif;
}

header, footer {
    background-color: #333;
    height: 100px;
}

nav {
    width: 960px;
    margin: 0px auto;
}

header img {
    float: left;
    margin-top: 15px;
    margin-right: 75px;
}

nav li {
    display: inline-block;
    margin-top: 40px;
    margin-right: 75px;
}

li a {
    text-decoration: none;
    color: #888;
}

main {
    width: 960px;
    margin: 30px auto;  
}

main ul {
    padding-left: 0px;
}

main li {
    display: inline-block;
}

#centerImg2 {
    margin-left: 25px;
    margin-right: 25px;
}

section {
    display: inline-block;
}

section img {
    float: left;
    margin-right: 30px;
}

div h2 {
    margin: 0px;
}

div p {
    overflow-y: scroll;
    height: 335px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
}

button {
    background-color: black;
    padding: 8px;
    border: none;
    margin-top: 5px;
    transition: 350ms;
}

button a {
    text-decoration: none;
    color: white;
}

button a:hover {
    background-color: gray;
    color: black;
}